<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.mapper.HomeMapper">
	<select id="bestBoardList" resultType="com.jafa.model.Board">
		select * from project_tbl order by viewCount desc limit 0,3;
	</select>
	
	<select id="bestUserBoardList" resultType="com.jafa.model.UserBoard">
		select * from userboard_tbl order by viewCount desc limit 0,3;
	</select>
</mapper>